body {
	text-align: center;
	margin-top: 30px;
	font-size: 30;
	font-family: sans-serif;
}

input {
	font-size: 28px;
	padding: 7px;
	border: none;
}

#password {
	width: 20%;
	margin-bottom: 7px;
	color: #262626;
}

.red-border {
	background-color:  #FF6969;
}

.yellow-border {
	background-color:  #FFFF6A;
}

.green-border {
	background-color: #5CE65C;
}

.blue-border {
	background-color: #94E9FF;
}